* {
  box-sizing: border-box;
}
@media (max-width: 900px) {
  .wrapper{   
    flex-direction: column;
  }
	.solKutu{
		width:100%;
		height:60%
	}
	.sagUstKutu, .sagAltKutu{
		width:100%;
		height:30%
	}
	.son{
		width:100%;
		height:10%
	}


}

h3 {
  color: black;
  text-align: center;
}
	
p {
  font-family: verdana;
  font-size: 2%;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  grid-auto-rows: minmax(100px, auto);
  background-color: rgba(211, 211, 211, 0.3)  
}
.son {
  grid-column: 1/4;
  grid-row:12;
  background-color: rgb(8, 164, 175);
  text-align: center;
  position:relative
}
.solKutu {
  grid-column: 1;
  grid-row: 1 / 11;
  background-color: rgb(30,129,176);
  position: relative;
  text-align: center;
}

.bottom-left {
  position: absolute;
  font-size: 25px;
  top: 35%;
  left: 10%;
}

#bilgi{
  position:relative;
  font-size: 17px;
  text-align:left;
  left: 75px;
  color:rgb(6, 24, 122);
}
.iconDetails {
  margin-left:2%;
  float:left; 
  height:4%;
  width:4%;	
} 

.icon_text {
	width:100%;
	height:auto;
	padding:1%;
}
#baslik{
  position:relative;
  text-align:left;
  left: 5%;
  color:rgb(6, 15, 64);
  margin:0%;
  margin-left:6%;
}

#altGrup{
  position:relative;
  font-size: 2%;
  text-align:left;
  left: 75px;
  color:rgb(6, 24, 122);
}

.container {
    background-color: rgb(112, 157, 179);
    width: 70%;
    border-radius: 15px;
    margin-top:-15px;
    margin-left:7%;
}
      
.skill {
    background-color: rgb(6, 24, 122);
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 1%;
    border-radius: 15px;
}
.java {
    width: 70%;
}
.python {
    width: 50%;
}
.html {
    width: 20%;
}
.css {
    width: 20%;
}
.c {
    width: 60%;
}
.turk {
    width: 100%;
}
.ing {
    width: 60%;
}

.ayirici{
    border-top: 1px solid #709db3;
    margin: 1% 25px;
}

.sagUstKutu {
  grid-column: 2/4;
  grid-row: 1 / 6;
  background-color: #76b5c5;
  position: relative;
}

.sagAltKutu {
  grid-column: 2/4;
  grid-row: 6 / 11;
  background-color: #76b5c5;
  position:relative;	
}

#detay{
  position:relative;
  font-size: 2%;
  text-align:left;
  left: 75px;
  color:rgb(0, 0, 0);
}
      button {
        background: #0e0b22;
        color: #fff;
        padding: 0.6rem;
        margin-top: 2%;
        border: none;
        border-radius: 4px;
      }

      button:hover {
        cursor: pointer;
        background: #1e1d25;
      }
