h3 {
  color: black;
  text-align: center;
}
p {
  font-family: verdana;
  font-size: 20px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  grid-auto-rows: minmax(100px, auto);
  background-color: rgba(211, 211, 211, 0.3)  
}
.son {
  grid-column: 1/4;
  grid-row: ;
  background-color: rgb(8, 164, 175);
  text-align: center;
}
.two {
  grid-column: 1;
  grid-row: 1 / 7;
  background-color: rgb(30,129,176);
}
.three {
  grid-column: 2/4;
  grid-row: 1 / 4;
  background-color: #76b5c5;
}

.five {
  grid-column: 2/4;
  grid-row: 4 / 7;
  background-color: #76b5c5;
}

article {
        width: 400px;
        background: #fff;
        padding: 20px 20px 0;
        font-size: 18px;
        max-height: 270px;
        overflow: hidden;
        transition: max-height 1s;
        text-align: justify;
        margin-top: 20px;
        margin-bottom: 16px;
      }

      article.open {
        max-height: 1000px;
      }

      button {
        background: #0e0b22;
        color: #fff;
        padding: 0.6rem;
        margin-top: 20px;
        border: none;
        border-radius: 4px;
      }

      button:hover {
        cursor: pointer;
        background: #1e1d25;
      }
